In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [51]:
data = pd.read_csv("../data/ensanut2022_muestras.csv", sep=";");
data.head()

,FOLIO_I,FOLIO_INT,t_hora,t_min,t_sumai,t_sumaf,hora_ini_1,fecha_ini_1,hora_fin_1,fecha_fin_1,...,valor_VIT_D,fecdeterm_VIT_D,ponde_v,cuenta_mic,ponde_m12a49,ponde_m0a11,estrato,region,est_sel,upm
0,2022_01001004,2022_01001004_01,13,35,813,815,13:33:14,10/11/2022,13:35:20,10/11/2022,...,,,,0,,,3,4,13,0100100011320
1,2022_01001008,2022_01001008_01,20,44,1244,1244,20:34:12,20/11/2022,20:34:55,20/11/2022,...,,,,0,,,3,4,13,0100100011320
2,2022_01001008,2022_01001008_03,20,43,1243,1243,20:41:51,20/11/2022,20:42:23,20/11/2022,...,,,,0,,,3,4,13,0100100011320
3,2022_01001009,2022_01001009_02,9,26,561,566,09:21:48,10/11/2022,09:26:03,10/11/2022,...,,,"16452,5523392573",0,,,3,4,13,0100100011320
4,2022_01001011,2022_01001011_01,20,49,1249,1249,20:45:31,20/11/2022,20:46:06,20/11/2022,...,,,,0,,,3,4,13,0100100011320

In [52]:
print(f'Columns: {len(data.columns)}')
print(f'Rows: {len(data)}')

Columns: 132
Rows: 13899

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13899 entries, 0 to 13898
Columns: 132 entries, FOLIO_I to upm
dtypes: int64(26), object(106)
memory usage: 14.0+ MB

In [63]:
col_interested = data[['sc01', 'h0303', 'h0302', 'int_hemoglobina']]

In [62]:
data[data['h0303'] < 100]['h0303'].describe()

count    13897.000000
mean        31.859178
std         22.444740
min          1.000000
25%         11.000000
50%         29.000000
75%         50.000000
max         98.000000
Name: h0303, dtype: float64

13899